.offerContainer {
    min-height: 100vh;
    min-width: 100vw;
    .offerItemsContainer {
        display: flex;
        flex-direction: column;
        height: 100vh;
        .offerItem {
            height: 100%;
            flex: 1;
            &:nth-child(2n+1){
                background-color: rgb(126, 126, 126);
            }
        }
    }
}