.aboutContainer {
    .aboutWrapper {
        min-height: calc(100vh - 146px);
        display: flex;
        flex-wrap: wrap;
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            &:nth-child(1) {
                flex: 1;
                padding: 0px 128px;
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                img {
                    height: 48px;
                    margin-bottom: 16px;
                }
                p {
                    width: 80%;
                    text-align: justify;
                }
            }
            &:nth-child(2) {
                flex: 1;
                flex-direction: column;
                a {
                    margin: 4px 0px;
                    opacity: 0.8;
                    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
                    &:hover {
                        transform: scale(1.1);
                        opacity: 1;

                    }
                }
                .clientLogo {
                    height: 32px;
                }
            }
        }
    }
}

@media only screen and (max-width: 880px) {
    .aboutContainer {
        .aboutWrapper {
            div {
                padding: 16px !important;
                &:nth-child(1) {
                    p {
                        width: 100%;
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }
}