$accentRed: #f35c2b;

.offerContainer {
  

  // min-width: 100vw;
  .offerItemsContainer { 
    display: flex;
    flex-direction: column;
    height: 100%;
    .offerSection {
      min-height: 60vh;
      margin-top: 8px;
      flex: 1;
      position: relative;
      &:nth-child(4) {
        img {
          object-position: 50% 100% !important;
        }
      }
      .offerItem {

        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
        display: flex;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: 50% 50%;
        }
        .wrapper {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          display: flex;
          .button {
            font-family: "Quicksand", open-sans;
            background-color: #f35c2b00;
            color: #f3f3f3;
            border: 1px solid #f3f3f3;
            border-radius: 4px;
            padding: 8px 32px;
            font-size: 1rem;
            transition-property: border, color !important;
            transition-duration: 0.2s, 0.2s !important;
            &:hover {
              border: 1px solid $accentRed;
              color: $accentRed;
              cursor: pointer;
            }
          }
          .header {
            font-size: 2rem;
            font-family: "Raleway", sans-serif !important;
            text-align: left;
            font-weight: 400;
          }
          .headerContainer {
            background-color: #0303039d;
            color: white;
            flex: 4;
            padding: 24px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: width 0.4s ease-in-out;
            transform-origin: right;
            transform: scaleX(1);
            transition: transform 0.4s ease-in-out;
            transition-delay: 0.2s;
            & > p {
              transition: opacity 0.2s ease-in-out;
            }
            &.active {
              transform: scaleX(0.1);
              & > p {
                opacity: 0;
              }
            }

            .content {
              font-family: "Open Sans", sans-serif;
              text-align: left;
            }
          }
          .textContainer {
            background-color: #0303039d;
            padding: 24px;
            padding-right: 48px;
            display: flex;
            flex-direction: column;
            font-weight: 100;
            text-align: left;
            align-items: center;
            justify-content: center;
            flex: 6;
            transform-origin: left;
            transform: scaleX(0);
            transition: transform 0.4s ease-in-out;
            &.active {
              transform: scaleX(1);
              .textWrapper {
                animation: textAnimation 0.6s ease-out 0.4s forwards;
              }
            }
            .returnButton {
              width: 100%;
              color: $accentRed;
              transition: color 0.2s ease-in-out;
              &:hover {
                cursor: pointer;
                color: #c5b2ab;
              }
            }
            .textWrapper {
              transform: translateY(-32px);
              opacity: 0;
              .header,
              .description {
                color: #f3f3f3;
              }
            }
          }
        }
      }
    }
  }
}

@keyframes textAnimation {
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@media only screen and (max-width: 1200px) {
  .offerContainer {
    .offerItemsContainer {
      .offerSection {
        min-height: 90vh !important;
        .offerItem {
          .wrapper {
            flex-direction: column;
            .headerContainer {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: #03030357;
              &.active {
                transform: scaleX(0);
              }
              .header {
                text-align: center;
              }
            }
            .textContainer {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              padding: 16px;
              background-color: #030303b6;

              .header {
                font-size: 1.4rem;;
              }
              .description {
                font-size: 0.9rem;
                margin-bottom: 8px;
              }
            }
          }
        }

      }
    }
  }
}
