$accentRed: #f35c2b;
$accentRedTransp: #f35c2b00;

.Wrapper404 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100vh;
  flex: 1;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #3b3a49;


  h1 {
    font-size: 8rem;
  }
  a {
    margin-top: 32px;
    border-bottom: 1px solid #3b3a49;
    &:hover {
      border-bottom: 1px solid $accentRed;
      color: $accentRed;
      cursor: pointer;
    }
  }
}

.header404 {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 68px;
  width: 100%;
  background-color: #3b3a49;
}

a {
  text-decoration: none;
  color: inherit;
}

.App {
  text-align: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-color: #ffffff;
  .bgOverlay {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    opacity: 1;
  }
}

@keyframes overlayAnim {
  to {
    opacity: 0.52;
  }
}

header,
footer {
  font-family: "Quicksand", sans-serif;
  color: #f5f5f5;
  font-weight: 200;
  z-index: 90;
  &:not(footer){
    padding: 8px 96px;

  }
}

header {
  transition: background-color 0.5s ease-in-out;
  // &::after {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   height: 100%;
  //   width: 100%;
  //   background-color: #3b3a49;
  //   z-index: 1;
  // }
  &.headerDark {
    background-color: #030303;
  }

  &.headerStatic {
    position: fixed !important;
    top: 0;
    background-color: #030303;
  }
  & * {
    font-family: "Quicksand", sans-serif;
  }
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  .logoContainer {
    flex: 1;
    display: flex;
    align-items: center;
    animation: headerItem 1s ease-in forwards;
    opacity: 1;

    & * {
      display: flex;
      align-items: center;
      font-family: "Open Sans", sans-serif !important;
      font-size: 2.4rem;
    }
    span {
      font-weight: 600;
    }
    img {
      height: 48px;
      margin-right: 16px;
    }
  }
  .headerBar {
    display: none;
  }
  nav {
    top: 0px;

    flex: 5;
    ul {
      display: flex;
      justify-content: flex-end;
      list-style: none;
      li {
        position: relative;
        & > * {
          padding: 4px 16px;
        }
        .navLinkActive {
          // border: 1px solid $accentRed;
          // border-radius: 4px;
          color: $accentRed;
          font-weight: 500;
          position: relative;
          &::after {
            content: '';
            position: absolute;
            top: 160%;
            left: 50%;
            transform: translateX(-50%);
            height: 3px;
            width: 80%;
            background-color: $accentRed;
            z-index: 200;
          }
        }
        @for $i from 1 to 8 {
          &:nth-child(#{$i}) {
            animation: headerItem 0.5s ease-in #{$i * 0.1 + 0.5}s forwards;
          }
        }
        opacity: 0;
        margin: 0px 8px;
        // padding: 4px 16px;
        border: 0.5px solid $accentRedTransp;
        border-radius: 6px;
        transition: color 0.3s ease-in-out;
        &.langSelection {
          border: 1px solid #f5f5f5;
        }
        &:hover {
          color: $accentRed;
          cursor: pointer;
        }
        .navActive {
          color: $accentRed;
        }
      }
    }
    #mobileMenu {
      display: none;
    }
  }
}

main {
  min-height: 100vh;
  width: 100%;
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .bgSpaceStation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url("/images/phobos01.jpg") !important;
    background-size: cover;
    background-position: center center;
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #030303;
      animation: overlayAnim 0.5s ease-in forwards;
      z-index: 1 !important;
    }
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .windowContainer {
      ///ANIMATION DATA
      opacity: 0;
      top: -24px;
      animation: landingText 1.5s normal forwards 2s;
      position: relative;
      //////////
      z-index: 50;
      margin-right: 15vw;
      color: white;
      text-align: left;
      width: 500px;
      padding: 24px;
      // margin-right: 12vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      * {
        width: 100%;
      }
      h1 {
        font-size: 2rem;
      }
      h2 {
        font-size: 1.3rem;
      }
      h1,
      h2 {
        font-family: "Raleway", sans-serif;
        font-weight: 300;
        & > span {
          font-weight: 600;
        }
      }
      p {
        margin-top: 16px;
        font-family: "Open Sans", sans-serif;
        font-weight: 200;
        text-align: justify;
        margin-bottom: 24px;
      }
      button {
        border: 1px solid #f3f3f3;
        background: #f35d2b00;
        color: #f3f3f3;
        font-size: 1.1rem;
        font-family: "Quicksand", sans-serif;
        padding: 6px;
        border-radius: 4px;
        transition-property: border, color;
        transition-duration: 0.3s, 0.3s;
        &:focus {
          outline: none;
        }
        &:hover {
          border: 1px solid $accentRed;
          color: $accentRed;
          cursor: pointer;
        }
      }
    }
    .landingPageFooter {
      background-color: #00000075;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }
}

.footerTransparent {
  background-color: #00000000 !important;
}
footer {
  z-index: 101;
  // position: absolute;
  // bottom: 0;
  // left: 0;
  // width: 100%;
  background-color: #3b3a49;
  .contactItemsContainer {
    ul {
      display: flex;
      list-style: none;
      justify-content: center;
      li {
        margin: 0px 24px;
        img {
          display: inline-block;
          height: 20px;
          margin-right: 12px;
        }
        a {
          &:hover {
            color: $accentRed;
          }
        }
        display: flex;
        align-items: center;
        &:last-child {
          margin: 12px 0px;
          img {
            height: 28px;
            transition: transform 0.2s ease-in-out;
            &:hover {
              cursor: pointer;
              transform: scale(1.2);
            }
          }
        }
      }
    }
  }
  p {
    opacity: 0.8;
    font-size: 0.8rem;
    a {
      font-family: "Righteous";
      &:hover {
        color: $accentRed;
      }
    }
  }
}

////// ANIMATIONS //////
@keyframes headerItem {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes landingText {
  to {
    opacity: 1;
    top: 0px;
  }
}

//////////////////////////
////// TEST POLIGON //////
//////////////////////////

.test {
  display: flex;
  flex-wrap: wrap;
  .item {
    border: 1px solid red;
    width: 24vw;
    height: 20vw;
    transition: width 1s ease-in;
    position: relative;
    &.hidden {
      animation: test 0.4s ease-in forwards;
    }
  }
}

@keyframes test {
  90% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
    width: 0;
  }
}

//////////////////////
///////// RWD ////////
//////////////////////

@media only screen and (max-width: 1200px) {
  header {
    z-index: 200;

    margin: 0;
    padding: 0px;
    &.headerStatic {
      background: none;
      .headerBar {
        background-color: #030303;
      }
    }
    .logoContainer {
      display: none;
    }

    /////////////////////////
    .headerBar {
      display: flex;
      width: 100%;
      justify-content: space-between;
      height: 68px;
      background-color: #030303a1;
      transition: background-color 0.3s ease-in-out;
      position: absolute;
      top: 0;
      left: 0;
      #logoMobile {
        display: flex;
        align-items: center;
        font-family: "Open Sans", sans-serif;
        font-weight: 100;
        font-size: 1.3rem;
        margin-left: 8px;
        img {
          height: 32px;
          margin-right: 8px;
        }
        span {
          font-family: "Open Sans", sans-serif;

          font-weight: 600;
        }
      }
      #mobileMenu {
        padding: 8px;
        display: flex;
        width: 48px;
        height: auto;
        margin: 0;
      }
    }

    nav {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      position: absolute;
      height: 0px;
      top: 68px;
      left: 0;
      width: 100%;
      .webMenu {
        flex-direction: column;
        align-items: flex-end;
        transform-origin: top;
        transform: scaleY(0);
        transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
        width: 100%;

        li {
          padding: 4px 8px;
          display: flex;
          justify-content: flex-end;
          border-bottom: 1px solid #f3f3f350;
          &:nth-child(1) {
            border-top: 1px solid #f3f3f350;
          }
          .navLinkActive {
            border: none;
            &::after {
              display: none;
            }
          }
          border-radius: 0;
          width: 100%;
          margin: 0;
          & * {
            margin: 0;
            padding: 0;
            font-size: 1.2rem;
          }
        }
      }

      &.navOpened {
        height: 100%;

        .headerBar {
          background-color: #030303 !important;
        }
        .webMenu {
          background-color: #030303ce;
          transform: scaleY(1);
        }
      }
    }
  }
  main {
    .bgSpaceStation {
      .windowContainer {
        padding-top: 64px;
        max-width: 100vw;
        margin: 0;
        h1 {
          font-size: 1.5em;
        }
        h2 {
          font-size: 1em;
        }
        p {
          font-size: 0.9em;
        }
      }
    }
  }
  footer {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    .contactItemsContainer {
      ul {
        flex-direction: column;
        align-items: center;
        li {
          img {
            height: 16px;
          }
          height: 30px;
          font-size: 0.9rem;
          &:last-child {
            img {
              height: 24px;
              &:hover {
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}
