$accentRed: #f35C2B;
$accentRedTransp: #f35C2B00;

a {
  text-decoration: none;
  color: inherit;
}

.bgSpaceStation{
  background-image: url('https://www.digitalarch.pl/static/media/DA_1704_Phobos_01.903d5835.jpg') !important;
  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #030303;
    animation: overlayAnim 0.5s ease-in forwards;
    z-index: 1 !important;


  }
}

.App {
  text-align: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-color: #ffffff;
  .bgOverlay {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    opacity: 1;
  }

}

@keyframes overlayAnim {
  to {
    opacity: 0.52;
  }
}

header, footer {
  font-family: 'Quicksand', sans-serif;
  padding: 8px 96px;
  color: #f5f5f5;
  font-weight: 200;
  z-index: 90;
}

header{
  &.headerDark {
    background-color: #03030381;
  }
  & * {
    font-family: 'Quicksand', sans-serif;
  }
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  .logoContainer {
    flex: 1;
    display: flex;
    align-items: center;
    animation: headerItem 1s ease-in forwards;
    opacity: 1;

    & *{
      display: flex;
      align-items: center;
      font-family: 'Open Sans', sans-serif !important;
      font-size: 2.4rem;
    }
    span {
      font-weight: 600;
    }
    img {
      height: 48px;
      margin-right: 16px;

    }
  }
  nav {
    flex: 5;
    ul {
      display: flex;
      justify-content: flex-end;
      list-style: none;
      li  {

        @for $i from 1 to 8 {
          &:nth-child(#{$i}) {
            animation: headerItem 0.5s ease-in #{$i * .1 + 0.5}s forwards;
          }
        }
        opacity: 0;
        margin: 0px 8px;
        padding: 4px 16px;
        border: 0.5px solid $accentRedTransp;
        border-radius: 6px;
        transition: color 0.3s ease-in-out;
        &.langSelection {
          border: 1px solid #f5f5f5;
        }
        &:hover {
          color: $accentRed;
          cursor: pointer;
        }
        .navActive {
          color: $accentRed;
        }
      }
    }

  }
}

main {

  flex: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .windowContainer {
    ///ANIMATION DATA
    opacity: 0;
    top: -24px;
    animation: landingText 1.5s normal forwards 2s;
    position: relative;
    //////////
    z-index: 50;

    color: white;
    text-align: left;
    width: 500px;
    padding: 24px;
    margin-right: 12vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    *{
      width: 100%;
    }
    h2 {
      font-size: 2rem;
    }
    h3 {
      font-size: 1.3rem;
    }
    h2, h3 {
      font-family: 'Raleway', sans-serif;
      font-weight: 300;
      &>span {
        font-weight: 600;
      }
    }
    p {
      font-family: 'Open Sans', sans-serif;
      font-weight: 200;
      text-align: justify;
      margin-bottom: 24px;
    }
    button {
      border: 1px solid $accentRed;
      background: #f35d2b00;
      color: $accentRed;
      font-size: 1.1rem;
      font-family: 'Quicksand', sans-serif;
      padding: 6px;
      border-radius: 8px;
      transition-property: background, color;
      transition-duration: 0.3s, 0.3s;
      &:hover {
        background: $accentRed;
        color: #f5f5f5;
        cursor: pointer;
      }
    }

  }
}

.footerTransparent {
  background-color: #00000000 !important;
}
footer {
  background-color: #3B3A49;
  .contactItemsContainer {
    ul {
      display: flex;
      list-style: none;
      justify-content: center;
      li {
        margin: 0px 24px;
        img {
          display: inline-block;
          height: 20px;
          margin: 12px;
        }
        a {
          &:hover {
            color: $accentRed;
          }
        }
        display: flex;
        align-items: center;
      }
    }
  }
  p {
    opacity: 0.8;
    font-size: 0.8rem;
    a {
      font-family: 'Righteous';
      &:hover {
        color: $accentRed;
      }
    }
  }
}

////// ANIMATIONS //////
@keyframes headerItem {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes landingText {
  to {
    opacity: 1;
    top: 0px;
  }
}

